/* ====== presets ====== */

*{
    margin: 0;
    padding: 0;
}

h1, h2, h3, p, a, input, textarea {
    margin: 0;
}

ul{
    list-style-type: none ;
}
a{
    text-decoration: none;
    color: black;
}


/* =============================================== */

.contenedor{
    display: grid;
    grid-template-columns: 1fr 4fr;
    background-color: #588b8b;
}
aside{
    padding-right: 0;
    color: white;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    border: solid 1px black;
}
.divMainTitle{
    margin-top: 5rem;
}
.main-title{
    text-align: center;
    color: black;
    font-weight: 600;
    font-size: 2rem;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
}
.aside-ul{
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.navbar-menu{
    background-color: transparent;
    border: 0;
    font-size: 30px;
    cursor: pointer;
    text-transform: uppercase;
    width: 100%;
}
.navbar-menu.active{
    background-color: white;
    color: #8f6593;
}
.boton-carrito{
    width: 100%;
    text-align: center;
    margin-top: 10rem;
}

.texto-footer{
    text-align: center;
    margin-bottom: 1rem;
    color: #82c2c2;
    font-size: 2rem;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
}

/* **** Contenido del Main **** */


.logo{
    width: 80vw;
}
.main-h2{
    font-size: 100px;
    padding-left: 4rem;
    padding-top: 4rem;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    text-transform: uppercase;
}
.contenedor-productos{
    display: grid;
    grid-template-columns: repeat(4,350px);
    gap: 1rem;
    padding-left: 30px;
}
.contenedor-formulario{
    color:white;
}
div.producto{
    border: solid 2px black;
    overflow: hidden;
}
.producto-div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.producto-imagen{
    width: 350px;
}
.productos-detalles{
    background-color: #8f6593;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 100%;
    padding: 30px 0px;
}
.producto-nombre{
    font-size: 15px;
    text-transform: uppercase;
}
.producto-precio{
    font-size: 30px;
}
.producto-agregar, 
.producto-consultar {
    border: 0;
    font-size: 30px;
    padding: 10px 30px;
    border-radius: 20px;
    cursor: pointer;
    background-color: white;
    border: solid 2px white;
}
.producto-agregar:hover,
.producto-consultar:hover{
    background-color: #99C24D;
    transition: 0.2s;
}

/* ***** SECCION DEL CARRITO ***** */
.contenedor-carrito{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.carrito-vacio{
    font-size: 30px;
    padding-left: 4rem;
    padding-top: 4rem;
    text-transform: uppercase;
}
.contenedor-carrito-productos{
    display: flex;
    flex-direction: column;
    gap: 1rem;    
    background-color: #9a809c;
    color: rgb(255, 255, 255);
    padding: 1rem;
    padding-right: 2rem;
}
.carrito-producto{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px black;
}
.carrito-imagen{
    width: 150px;
}
.carrito-producto small{
    font-size: 1rem;
    text-transform: uppercase;
}
.carrito-producto-nombre{
    max-width: 9rem;
}
.carrito-producto-eliminar{
    background-color: transparent;
    border: 0;
    font-size: 35px;
    cursor: pointer;
}
.carrito-producto-eliminar:hover{
color: rgb(180, 47, 47);
}
.carrito-acciones{
    display: flex;
    justify-content: space-between;
    padding-right: 2rem;
}
.carrito-boton-vaciar{
    padding-left: 2rem;
}
.boton-vaciar{
    border: 0;
    padding: .5rem 4rem;
    font-size: 20px;
    border-radius: 1rem;
    font-weight: 600;
    cursor: pointer;
    text-transform: uppercase;
}
.carrito-comprar{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
}
.carrito-total{
    display: flex;
    font-weight: 800;
    font-size: 30px;
    text-transform: uppercase;
}
.carrito-pagar{
    border: 0;
    padding: .5rem 4rem;
    font-size: 20px;
    border-radius: 1rem;
    font-weight: 600;
    cursor: pointer;
    text-transform: uppercase;
}
.disabled{
    display: none;
}

/* ****** Formulario ****** */

.ul-formulario{
    display: flex;
    flex-direction: column;
    align-items:center;
    padding-top: 5rem;
}
.label-tag{
    display: flex;
    justify-content: center;
    font-size: 20px;
}
.li-formulario{
    margin-top: 30px;
}
#mail,
#name{
    width: 300px;
    height: 25px;
}
#msg{
    width: 300px;
    height: 200px;
}